<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vue.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="sample">
            <input type="text" v-model="firstName">
            <hr>
            <input type="text" v-model="lastName">
            <hr>
            <h2>Hello, {{fullName()}}</h2>
            <hr>
            <button class="btn btn-success" @click="showText=!showText">ToggleText</button>
            <div v-show="showText">SOme text</div>
        </div>

        <script>

            new Vue({
                el: '.sample',
                data: {
                    firstName: "",
                    lastName: "",
                    showText: false
                },
                computed: {

                },
                methods: {
                    fullName() {
                        console.log("1");
                        return this.firstName + " " + this.lastName;
                    }
                }
            });

        </script>

</body>

</html>