<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>8</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vue.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="sample">
            <button class="btn btn-success" @click="addNumber">Add number</button>
            <button class="btn btn-primary" @click="sortNumbers">Sort Numbers</button>
            <ul>
                <li v-for="(number, index) in numbers" @mouseenter="onMouseEnter($event, index)"
                    @mouseleave="onMouseLeave($event, index)">
                    {{ index }} - {{number}}
                </li>
            </ul>
            <hr>
            <table class="table table-bordered">
                <tr v-for="(value, key, i) in info">
                    <td>{{ i }}</td>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            </table>
        </div>

        <script>

            new Vue({
                el: '.sample',
                data: {
                    numbers: [],
                    info: {
                        name: 'Oleg',
                        email: 'admin@mail.ru'
                    }
                },
                methods: {
                    addNumber() {
                        this.numbers.push(Math.floor(Math.random() * 10));
                    },
                    sortNumbers() {
                        this.numbers.sort((a, b) => a > b ? 1 : -1);
                    },
                    onMouseEnter(e, index) {
                        if (index & 1) {
                            e.target.style.color = 'red';
                        }
                        // console.log(index);
                    },
                    onMouseLeave(e, index) {
                        if (index & 1) {
                            e.target.style.color = 'black';
                        }
                    }
                }
            });

        </script>

</body>

</html>