<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5</title>
    <link rel="stylesheet" href="css//bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="sample">
            <form action="#" v-if="!showTable">
                <div class="progress">
                    <div class="progress-bar" :style="getBarWidth">
                    </div>
                </div>
                <div class="form-group" v-for="(item,index) in info">
                    <!-- 
                    error - fa-exclamation-circle
                    success - fa-check-circle 
                    -->
                    <label>{{item.name}}</label>
                    <i class="fa" :class="fields[index].error ? 'fa-exclamation-circle' : 'fa-check-circle'"
                        v-show="fields[index].activated"></i>
                    <input type="text" class="form-control" :value="item.value"
                        @input="onInput(index, $event.target.value)">
                </div>
                <button type="submit" @click.prevent="showResult" :disabled="validatedFields < info.length"
                    class="btn btn-primary">Submit data</button>
            </form>
            <table class="table table-bordered" v-else>
                <tr v-for="item in info">
                    <td>{{item.name}}</td>
                    <td>{{item.value}}</td>
                </tr>
            </table>
        </div>
    </div>
    </div>
    <script>
        let test = new Vue({
            el: ".sample",
            data: {
                info: [
                    {
                        name: "Name",
                        value: "sdfdsf",
                        pattern: /^[a-zA-Z ]{2,30}$/
                    },
                    {
                        name: "Phone",
                        value: "",
                        pattern: /^[0-9]{7,14}$/
                    },
                    {
                        name: "Email",
                        value: "",
                        pattern: /\S+@\S+\.\S+/
                    },
                    {
                        name: "Some Field 1",
                        value: "",
                        pattern: /.+/
                    },
                    {
                        name: "Some Field 2",
                        value: "",
                        pattern: /.+/
                    }
                ],
                fields: [],
                showTable: false
            },
            computed: {
                validatedFields() {
                    let validated = 0;

                    for (let i = 0; i < this.fields.length; i++) {
                        if (!this.fields[i].error) {
                            validated++;
                        }
                    }

                    return validated;
                },

                getBarWidth() {
                    return { width: this.validatedFields / this.fields.length * 100 + '%' }
                }
            },
            methods: {
                onInput(i, e) {
                    let data = e;
                    let field = this.fields[i];

                    this.info[i].value = data;
                    field.activated = true;
                    field.error = !this.info[i].pattern.test(data);
                },
                showResult() {
                    this.showTable = !this.showTable;
                }
            },
            created() {
                for (let i = 0; i < this.info.length; i++) {
                    this.fields.push({
                        error: !this.info[i].pattern.test(this.info[i].value),
                        activated: this.info[i].value != ''
                    });
                }
            }
        });

    </script>
</body>

</html>