.CartPage-items {
  margin: 0 0 1em 0;
  padding: 0;
}
.CartPage-items li {
  list-style: none;
}
.CartItem-count {
  padding: 5px 10px;
  border: 1px solid #ccc;
}
.CartItem-addOne,
.CartItem-removeOne {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background: #fff;
}
.CartItem-addOne {
  border-left: none;
}
.CartItem-removeOne {
  border-right: none;
}

.CartPage .total {
  text-align: right;
  margin-right: 10px;
}

.CartPage button {
  background-color: green;
  color: #fff;
  box-shadow: none;
  outline: none;
  border: none;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  font-weight: bold;
}